@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Форма для оплати кредиту</h3>
    <form method="post" action="@Url.Action("Pay", "Home")">
        <input type="hidden" name="CustomerID" value="@ViewBag.CustomerID1" />
        <table>
            <tr>
                <td><p>Введіть суму</p></td>
                <td><input type="text" name="PaymentAmount" /></td>
            </tr>
        </table>
        <button type="submit">Оплатити</button>
    </form>
</div>
